@font-face {
    font-family: regular;
    src: url("font/CasOlgans-Regular.otf");
}


@font-face {
    font-family: special;
    src: url("font/AvelineChapter-Regular.otf");
}

@font-face {
    font-family: names;
    src: url("font/Behind-The-Nineties-Sans-Bd-It.otf");
}

body {
    margin: 0;
}



.main {
    display: flex;
    flex-direction: column;
    background-image: url("/image/marrakech.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
    padding-top: 150px;
    text-align: center;
}

.first-heading {
    font-family: regular;
    font-size: 70px;
    color: #dee2e6;
    margin-bottom: 0;
    padding-top: 0;
    text-shadow: 2px 2px black;
    background-color: #ee9b00;
    width: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.second-heading {
    font-family: special;
    font-size: 150px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: none;
    color: #f2f6f0;
    background-color: #0f172a;
    width: 700px;
    height: 150px;
}


.places {
    background-color: #e9ecef;
    display: flex;
    justify-content: space-around;
}


.jemaa {
    text-align: center;
    font-size: 20px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.majorelle {
    text-align: center;
    font-size: 20px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.madrasa {
    text-align: center;
    font-size: 20px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jemaa-photo {
    width: 300px;
    margin-top: 100px;
    border: 5px solid #212529;
    border-radius: 50%;
}

.majorelle-photo {
    width: 200px;
    margin-top: 100px;
    border: 5px solid #212529;
    border-radius: 50%;
}

.madrasa-photo {
    width: 300px;
    margin-top: 100px;
    border: 5px solid #212529;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .main {
    display: flex;
    flex-direction: column;
    background-image: url("/image/marrakech.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .first-heading {
    font-family: regular;
    font-size: 59px;
    color: #dee2e6;
    margin-bottom: 0;
    padding-top: 0;
    text-shadow: 2px 2px black;
    background-color: #ee9b00;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
}
